@import "tailwindcss";

@theme {
  --color-brand-navy: #0a192f;
  --color-brand-gold: #d4af37;
  --color-brand-gold-light: #f9e2af;
  --color-brand-red: #e63946;
}

/* Sisanya biarkan kosong dulu atau tambahkan dasar background */
body {
  background-color: var(--color-brand-navy);
  color: white;
}